.about-us-box{
    padding:50px;
    margin:50px;
        /* From https://css.glass */
            background: rgba(255, 255, 255, 0.1);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(5px);
            border: 0.2px solid rgba(255, 255, 255, 0.3);
            z-index:-200;
        
}

.about-us-heading{
    margin-left: 60px;
    margin-top: 30vh;
    font-size: ;
}

.about-image{
    height:50vh;
    background-image: url(imgs/purple-bg-removebg-preview.png);
    background-size: contain;
}
