.footer-grid-container {
    position: absolute;
    bottom: 2em;
    display: grid;
    grid-template-columns: repeat(3, 500px);
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
}

.grid-item {
    text-align: center;
}

.footer-grid-container p, .footer-links a {
    margin: 0px;
    padding: 0px;
    display: inline;
}

.grid-item a {
    text-decoration: none;
    color: #efefef;
    opacity: 80%;
    transition: opacity 0.3s;
    padding: 0px .7em;
}

.grid-item > .footer-links > a:hover {
    opacity: 100%;
}


img{
    filter: invert(100);
    max-width: 1.5em;
}

#discord {
    max-width: 1.9em;
}

.footer-links {
    margin-left: 5em;
}

.footer-social-media {
    margin-right: 18em;
    
}
