.footer-container {
    position: absolute;
    bottom: 2em;
    align-content: center;
    width: 100%;
}

.item {
    text-align: center;
}

.item a {
    text-decoration: none;
    color: #efefef;
    opacity: 80%;
    transition: opacity 0.3s;
    padding: 0px .7em;
}

.item > .footer-links > a:hover {
    opacity: 100%;
}


img{
    filter: invert(100);
    max-width: 1.5em;
}

#discord {
    max-width: 1.9em;
}


