.outer-grid {
    /* display: grid; */
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, auto);
    grid-row-gap: 2.5em;
    margin-bottom: 10em;
}

.outer-grid-heading {
    color: white;
    font-size: 5em;
    margin-top: 0;
    padding-top: 8vh;
}

.outer-grid-item {
    text-align: center;
    opacity: 100%;
    filter: brightness(150%);
    
}

.item1 {
    grid-row-start: 1;
    grid-column-start: 2;
    /* margin-left: -10em; */
}

.item2 {
    grid-row-start: 2;
}

.item3 {
    grid-column-start: 2;
    grid-row-start: 3;
}

.item4 {
    grid-row-start: 4;
}

.item0 {
    display: flex;
}


.grid-item {
    /* background-color: rgb(25, 35, 94); */
    background-image: linear-gradient(45deg, rgb(150, 18, 206), rgb(55, 0, 255));
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    /* box-shadow: 2px 2px 10px rgb(209, 219, 220); */
    border-radius: 15px;
    width: 350px;
    height: 490px;
    display: inline-block;
    transition: scale 0.3s, box-shadow 0.3s;
}



.image-section {
    height: 25vh;
    overflow: hidden;

}



.img1 {
    background-image: url('imgs/bg1_.jpg');
    background-size: cover;
    background-position: center;
}

/* .img1:hover{
    background-image: url('imgs/giphy.webp#t=0s');
} */

.grid2 {
    border-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 10px rgb(255, 255, 255);

}


.grid-item-content {
    text-align: left;
    padding-left: 1.2em;
    padding-right: 1.2em;
}

.grid-item-content {
    color: rgb(255, 255, 255);
}

.outer-grid-item>ul {
    margin-top: 0;
    width: 23vw;
    display: inline-block;
    /* border: solid; */
    /* border-color: wheat; */
    filter: blur(0px);
    color: white;
    border-radius: 1em;
    list-style: none;
    padding: .3em .3em;
    padding-bottom: 4em;
}


li {
    padding: 2vh 0;
    font-size: 1.2em;
}

/* .ul1, .ul2 , .ul4{
    background-image: linear-gradient(0deg,rgb(134, 114, 80, 0), rgba(157, 142, 114, .5) 30%, rgb(153, 122, 72));
}

.ul3 {
    background-image: linear-gradient(180deg,rgb(134, 134, 134), rgba(91, 91, 91, 0.5) 70%, rgba(0, 0, 0, 0));
} */


.events-heading-container {
    height: 20vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.events-heading-container>h1 {
    display: inline-block;
    font-size: 5em;
    font-family: 'Courier New', Courier, monospace;
}

.parallax1,
.parallax2,
.parallax3,
.parallax4 {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(imgs/bg1.jpg);
    border-width: 2px;
    border: solid none;
    border-color: white;
    /* filter: brightness(0%); */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.parallax1::before {
    content: "";
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 401vh;
    background-color: rgba(0, 0, 0);
    /* background-image: linear-gradient(0deg, pink, blue, pink, blue, pink); */
    /* background-blend-mode: color-burn; */
    opacity: 0.5;
    overflow-y: hidden;
}

.parallax2 {
    background-image: url(imgs/bg2.jpg);
    border-top: solid;
    border-bottom: solid;
    border-width: 3px;
    border-color: rgb(0, 0, 0);
}

.parallax3 {
    background-image: url(imgs/bg3.jpg);
}

.parallax4 {
    /* position: relative; */
    border-top: solid;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
    background-image: url(imgs/bg4.jpg);
}

