body {
    margin: 0px;
    background-color: black;
    font-family: 'Gugi', cursive;
    color: white;
}

.line{
    position: absolute;
    left: 1em;
    top: 2.8em;
    height: .3em;
    width: 4.3em;
    background-image: linear-gradient(45deg, rgb(255, 0, 149), rgb(139, 139, 254));
}