body {
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-blend-mode: color-burn; */
    /* background-position: center; */
    /* background-size: cover; */
    font-family: 'Gugi', cursive;
    color: white;
    z-index: -1;
    overflow-x: hidden;
}

.line{
    position: absolute;
    left: 1em;
    top: 2.8em;
    height: .3em;
    width: 4.3em;
    background-image: linear-gradient(45deg, rgb(255, 0, 149), rgb(139, 139, 254));
}

.back-video {
  position: absolute;
  background-position: center;
  right: 0;
  bottom: 0;
  filter: brightness(70%);
  background-image: linear-gradient(to bottom, rgba(255,153,153,0) 0%,rgba(255,153,153,0) 75%,rgba(255,153,153,1) 100%);

  /* mix-blend-mode:darken; */
  z-index: -1;  
}

#background-video {
  background-image: black;
}

@media (min-aspect-ratio: 16/9){
  .back-video{
    width: 100%;
    height: auto;
  }
}


@media (max-aspect-ratio: 16/9){
  .back-video{
    width: auto;
    height: 100%;
  }
}




.home-body-container{
    float: none;
    position: relative;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    /* border-width: 2px;
    border-style: solid;
    border-color: white; */
    margin-bottom: 2em;
    overflow-y: hidden;
}

.home-body-container > a {
  text-decoration: none;
}

/* .home-body-container-item{
    border-width: 2px;
    border-style: solid;
    border-color: white;
} */


.welcome {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;
    justify-self: center;
    text-align: center;
    font-size: 6em;
    color: black;
}

.sub-welcome {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 7;
  justify-self: center;
  text-align: center;
  color: black;

}





@media (max-width:800px) {
    .welcome {
        font-size: 2rem;
    }
    
    .home-get-started,
    .home-get-started::after{
        font-size: .7em;
    }
}

.home-get-started,
.home-get-started::after {
  grid-column-start: 5;
  grid-row-start: 8;
  grid-row-end: 9;

  align-self: center;

  width: 10em;
  height: 3em;
  font-size: 1em;
  border-radius: .4em;
  cursor: pointer;
  /* padding: 0px 0px;
  margin-top: 0px; */
  font-family: "Gugi", cursive;
  background: linear-gradient(210deg, rgb(255, 74, 243), rgb(159, 86, 255), rgb(88, 158, 237));
  border: 0;
  color: white;
  letter-spacing: 3px;
  box-shadow: 6px px 0px #fff;
  outline: transparent;
  display: flex; 
  align-items: center; 
  justify-content: center;  
  transition: scale .3s;
}


.home-get-started:hover{
  scale: 110%;
}



.home-get-started::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "Get Started";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(210deg, rgb(255, 74, 243), rgb(159, 86, 255), rgb(88, 158, 237));
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.home-get-started:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}


