body {
    margin: 0px;
    background-color: rgba(0, 0, 0, .5);
    background-image: url('imgs/3b72ccbc21bbfcb4c3ab8a758b756502.jpg');
    background-blend-mode: color-burn;
    background-position: center;
    background-size: cover;
    font-family: 'Figtree', sans-serif;
    color: white;
    
}

.line{
    position: absolute;
    left: 1em;
    top: 2.8em;
    height: .3em;
    width: 4.3em;
    background-image: linear-gradient(45deg, rgb(255, 0, 149), rgb(139, 139, 254));
}



.titlee-block{
    flex:1;
    /* width: 100%; */
    margin-left:20%;
    margin-top:15vh;
}

/* .titlee-1{
    font-size: 4em; 
    width:100%;
    text-align: center;
    
}
.title-2{
    font-size:3em;
    text-align: center;
} */

.vertical-line{

    display: inline-block;
    flex:0.01;
    height:100;
    background-image: linear-gradient(to bottom,rgb(255, 0, 149),
        rgb(139, 139, 254));
}

.middle-written{
    margin-left:3%;
    display:inline-block;
    flex:0.9;
    align-items:center;
    justify-content: space-between;
    margin-top:0.7vh;
    font-size: 1em;
    /* color:rgb(233, 215, 56); */
    background: linear-gradient(45deg, rgb(152, 152, 255) 0 20%, rgb(255, 0, 255));
    -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 100%;
}


.middle-titlee{
    display:flex;
    /* margin-top:-5vh; */
    margin-left:20px;
    z-index:2;
}

.btt{
    margin-top:5vh;
    /* margin-left:35px; */
    text-align: center;
}

.get-started{
    border-radius: .2em;
        transform: skew(-20deg);
        padding: .35em 1.2em;
        /* background-image: linear-gradient(90deg, rgb(255, 74, 243), rgb(101, 163, 234),  rgb(255, 0, 238), rgb(42, 141, 255)); */
        background-image: linear-gradient(90deg, rgb(255, 74, 243), rgb(101, 163, 234), rgb(42, 141, 255), rgb(255, 0, 238));
        background-size: 300% 300%;
        color: rgb(12, 12, 12);
        font-weight: 600;
        opacity: 100%;
        transition: background-position 0.2s;
        text-decoration: none;
        font-size: 1em;
}

.get-started:hover {
    background-position: 100% 0;
    transition: all .2s ease-out;
}

.titlee-img{
    flex:1;
    width:300px;
    margin-top:10vh;
    /* width:30%; */
    margin-left:30%; 
    height:50vh;
}

/* .js{
    width:100%;
} */
.yee{
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    height:100vh;
}

.sponsors-titlee{
    width:30%;
    text-align: center;
    background-color: blueviolet;
    margin:auto;
    margin-top:10vh;
    height:5vh;
    padding-top:20px;
}

.sponsor-grid{
    display: flex;
    background-image: url(imgs/grid-removebg-preview.png);
    margin-top:10vh;
    align-items: center;
    height:50vh;
}

.sponsor-grid-con{
    text-align: center;
    flex:1;
}

.backslash-nav {
    float: right;
    font-size: 1em;
}


.container {
    width:350px;
    /* width: 100%; */
    height: 25vh;
    position: relative;
}

.container video {
    width: 100%;
    height: 100%;
}

.text-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75em;
    font-weight: 900;
    mix-blend-mode: multiply;
    text-align: center;
}

.container-2{
    width: 350px;
    height: 80px;
    position: relative;
}

.container-2 video {
    width: 100%;
    height: 100%;
}

.text-box-2{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    color: white;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    font-size: 0.67em;
    font-weight: 600;
    mix-blend-mode: multiply;
    text-align: center;
    
}
.titl{
    width:100%;
    margin-top:0;
    margin-bottom: 0;
}


